@import '~primereact/resources/themes/saga-blue/theme.css';
@import '~primereact/resources/primereact.min.css';
@import '~primeicons/primeicons.css';
@import "~primeflex/primeflex.min.css";

@import "_reset.css";
@import "variables";
@import "spacing";

body {
  font-size: $unitFont;
}

.app-body {
  margin-top: 4em;
}

.display-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.center-text {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}
